In [320]:
import pandas as pd
import numpy as np

In [321]:
#base sgl
baseSql = pd.read_csv('datos/202106/2021-06_ KUNAN.xls - Base SQL.csv')

In [322]:
baseSql

,Unnamed: 0,codigo_rp,tipodoc,numdoc,nombre,direccion,localidad,provincia,cod_postal,telefono,...,fecha_agenda,cantd,nro_autorizacion,descrip_diagnostico,impor_hono,impor_gastos,orden_rp,secuen_rp,confirmado,bono_nume
0,NaN,95908061,DI,7975217,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,1/6/2021,1,9917928441,"L97. - ULCERA DE MIEMBRO INFERIOR, NO CLASIFIC...",0,0,12346252,163,N,NaN
1,NaN,95908061,DI,7975217,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,23/6/2021,1,9918767065,"L97. - ULCERA DE MIEMBRO INFERIOR, NO CLASIFIC...",0,0,12346657,1,N,NaN
2,NaN,95908061,DI,7975217,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,1/6/2021,1,9917928441,"L97. - ULCERA DE MIEMBRO INFERIOR, NO CLASIFIC...",0,0,12346252,184,N,NaN
3,NaN,95908061,DI,7975217,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,23/6/2021,1,9918767065,"L97. - ULCERA DE MIEMBRO INFERIOR, NO CLASIFIC...",0,0,12346657,25,N,NaN
4,NaN,95908061,DI,7975217,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,24/6/2021,1,9918767065,"L97. - ULCERA DE MIEMBRO INFERIOR, NO CLASIFIC...",0,0,12346657,27,S,22331.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11321,NaN,95908083,DI,3601270,ZARATE ANTONIA ELIDE,GUASAPAMPA 3092,CORDOBA,Cordoba,5000.0,3516567033 (HIJA CLAUDIA),...,1/6/2021,1,9918136452,R29. - OTROS SINTOMAS Y SIGNOS QUE INVOLUCRAN ...,0,0,12346358,204,N,NaN
11322,NaN,95908083,DI,3601270,ZARATE ANTONIA ELIDE,GUASAPAMPA 3092,CORDOBA,Cordoba,5000.0,3516567033 (HIJA CLAUDIA),...,1/6/2021,1,9918136452,R29. - OTROS SINTOMAS Y SIGNOS QUE INVOLUCRAN ...,0,0,12346358,207,N,NaN
11323,NaN,95908083,DI,3601270,ZARATE ANTONIA ELIDE,GUASAPAMPA 3092,CORDOBA,Cordoba,5000.0,3516567033 (HIJA CLAUDIA),...,1/6/2021,1,9918136452,R29. - OTROS SINTOMAS Y SIGNOS QUE INVOLUCRAN ...,0,0,12346358,232,N,NaN
11324,NaN,95908083,DI,3601270,ZARATE ANTONIA ELIDE,GUASAPAMPA 3092,CORDOBA,Cordoba,5000.0,3516567033 (HIJA CLAUDIA),...,1/6/2021,1,9918136452,R29. - OTROS SINTOMAS Y SIGNOS QUE INVOLUCRAN ...,0,0,12346358,233,N,NaN
11325,NaN,95908083,DI,3601270,ZARATE ANTONIA ELIDE,GUASAPAMPA 3092,CORDOBA,Cordoba,5000.0,3516567033 (HIJA CLAUDIA),...,1/6/2021,1,9918136452,R29. - OTROS SINTOMAS Y SIGNOS QUE INVOLUCRAN ...,0,0,12346358,210,N,NaN

In [323]:
baseSql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11326 entries, 0 to 11325
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      float64
 1   codigo_rp            11326 non-null  int64
 2   tipodoc              11326 non-null  object
 3   numdoc               11326 non-null  int64
 4   nombre               11326 non-null  object
 5   direccion            11326 non-null  object
 6   localidad            11326 non-null  object
 7   provincia            11326 non-null  object
 8   cod_postal           9387 non-null   float64
 9   telefono             9303 non-null   object
 10  fecha_nacimiento     11326 non-null  object
 11  sexo                 11326 non-null  object
 12  afiliado             11326 non-null  int64
 13  grado_paren          11326 non-null  int64
 14  codigo_diagnostico   11326 non-null  object
 15  cod_prestacion       11326 non-null  object
 16  fecha_agenda         11326 non-null  object
 17  cantd                11326 non-null  int64
 18  nro_autorizacion     11326 non-null  int64
 19  descrip_diagnostico  11326 non-null  object
 20  impor_hono           11240 non-null  object
 21  impor_gastos         11240 non-null  object
 22  orden_rp             11326 non-null  int64
 23  secuen_rp            11326 non-null  int64
 24  confirmado           11326 non-null  object
 25  bono_nume            79 non-null     float64
dtypes: float64(3), int64(8), object(15)
memory usage: 2.2+ MB

In [324]:
baseSql['afiliado']

0        150410698405
1        150410698405
2        150410698405
3        150410698405
4        150410698405
             ...
11321    150199396202
11322    150199396202
11323    150199396202
11324    150199396202
11325    150199396202
Name: afiliado, Length: 11326, dtype: int64

In [325]:
baseSql['afiliado'] = baseSql['afiliado'].astype(str)

In [326]:
baseSql['grado_paren'] = baseSql['grado_paren'].astype(str)

In [327]:
#concateno
baseSql['numero_afiliado'] = baseSql.afiliado + baseSql.grado_paren

In [328]:
baseSql['numero_afiliado']

0        1504106984050
1        1504106984050
2        1504106984050
3        1504106984050
4        1504106984050
             ...
11321    1501993962020
11322    1501993962020
11323    1501993962020
11324    1501993962020
11325    1501993962020
Name: numero_afiliado, Length: 11326, dtype: object

In [329]:
#agrego los 0
def agg0 ():
    lista = []
    c = 0
    for filas in baseSql.numero_afiliado:
        lista.append(filas.zfill(14))
        c = c+1
    return lista

In [330]:
lista2 = agg0()

In [331]:
baseSql['numero_afiliado'] = lista2

In [332]:
baseSql['numero_afiliado']

0        01504106984050
1        01504106984050
2        01504106984050
3        01504106984050
4        01504106984050
              ...
11321    01501993962020
11322    01501993962020
11323    01501993962020
11324    01501993962020
11325    01501993962020
Name: numero_afiliado, Length: 11326, dtype: object

In [333]:
#paso nuevamente a int 
#baseSql['numero_afiliado']= baseSql['numero_afiliado'].astype(int)

In [334]:
baseSql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11326 entries, 0 to 11325
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      float64
 1   codigo_rp            11326 non-null  int64
 2   tipodoc              11326 non-null  object
 3   numdoc               11326 non-null  int64
 4   nombre               11326 non-null  object
 5   direccion            11326 non-null  object
 6   localidad            11326 non-null  object
 7   provincia            11326 non-null  object
 8   cod_postal           9387 non-null   float64
 9   telefono             9303 non-null   object
 10  fecha_nacimiento     11326 non-null  object
 11  sexo                 11326 non-null  object
 12  afiliado             11326 non-null  object
 13  grado_paren          11326 non-null  object
 14  codigo_diagnostico   11326 non-null  object
 15  cod_prestacion       11326 non-null  object
 16  fecha_agenda         11326 non-null  object
 17  cantd                11326 non-null  int64
 18  nro_autorizacion     11326 non-null  int64
 19  descrip_diagnostico  11326 non-null  object
 20  impor_hono           11240 non-null  object
 21  impor_gastos         11240 non-null  object
 22  orden_rp             11326 non-null  int64
 23  secuen_rp            11326 non-null  int64
 24  confirmado           11326 non-null  object
 25  bono_nume            79 non-null     float64
 26  numero_afiliado      11326 non-null  object
dtypes: float64(3), int64(6), object(18)
memory usage: 2.3+ MB

In [335]:
#base del Pami
pami = pd.read_csv('datos/202106/2021-06_ KUNAN.xls - app Pami .csv')

In [336]:
#renombrar columnas para poder acceder luego
pami.columns = ['NVisita','Estado', 'FechaInc','FechaFin','Duracion','Celular','NAfiliacion','Nombre','DNI','Responsable','Matricula','Prestador','Email','RazonSocial','SAP','UGL']

In [337]:
pami.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8577 entries, 0 to 8576
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   NVisita      8577 non-null   int64
 1   Estado       8577 non-null   object
 2   FechaInc     8577 non-null   object
 3   FechaFin     8577 non-null   object
 4   Duracion     8577 non-null   object
 5   Celular      8577 non-null   object
 6   NAfiliacion  8575 non-null   float64
 7   Nombre       8575 non-null   object
 8   DNI          8577 non-null   int64
 9   Responsable  8577 non-null   object
 10  Matricula    7439 non-null   float64
 11  Prestador    8577 non-null   object
 12  Email        8577 non-null   object
 13  RazonSocial  8577 non-null   object
 14  SAP          8577 non-null   int64
 15  UGL          8577 non-null   int64
dtypes: float64(2), int64(4), object(10)
memory usage: 1.0+ MB

In [338]:
pami['NAfiliacion']

0       1.507742e+13
1       1.502981e+13
2       9.595341e+12
3       1.501929e+13
4       1.502615e+13
            ...
8572    1.558042e+13
8573    1.503379e+13
8574    1.506716e+13
8575    1.558042e+13
8576    1.400066e+13
Name: NAfiliacion, Length: 8577, dtype: float64

In [339]:
#paso a int
pami['NAfiliacion'] = pami['NAfiliacion'].round().astype('Int64')

In [340]:
pami['NAfiliacion']

0       15077422440400
1       15029810110100
2        9595341410700
3       15019292180700
4       15026149150200
             ...
8572    15580418720300
8573    15033793340700
8574    15067158690100
8575    15580418720300
8576    14000659250200
Name: NAfiliacion, Length: 8577, dtype: Int64

In [341]:
pami['NAfiliacion']= pami['NAfiliacion'].astype(str)

In [342]:
pami['NAfiliacion']

0       15077422440400
1       15029810110100
2        9595341410700
3       15019292180700
4       15026149150200
             ...
8572    15580418720300
8573    15033793340700
8574    15067158690100
8575    15580418720300
8576    14000659250200
Name: NAfiliacion, Length: 8577, dtype: object

In [343]:
def Corregir0 ():
    lista = []
    c = 0
    for filas in pami.NAfiliacion:
        lista.append(filas.zfill(14))
        c = c+1
    return lista

In [344]:
var = Corregir0()

In [345]:
pami['NAfiliacion'] = var

In [346]:
pami['NAfiliacion']

0       15077422440400
1       15029810110100
2       09595341410700
3       15019292180700
4       15026149150200
             ...
8572    15580418720300
8573    15033793340700
8574    15067158690100
8575    15580418720300
8576    14000659250200
Name: NAfiliacion, Length: 8577, dtype: object

In [347]:
pami.columns

Index(['NVisita', 'Estado', 'FechaInc', 'FechaFin', 'Duracion', 'Celular',
       'NAfiliacion', 'Nombre', 'DNI', 'Responsable', 'Matricula', 'Prestador',
       'Email', 'RazonSocial', 'SAP', 'UGL'],
      dtype='object')

In [348]:
pami = pami.rename(columns = {'NAfiliacion': 'numero_afiliado'})

In [349]:
pami.columns

Index(['NVisita', 'Estado', 'FechaInc', 'FechaFin', 'Duracion', 'Celular',
       'numero_afiliado', 'Nombre', 'DNI', 'Responsable', 'Matricula',
       'Prestador', 'Email', 'RazonSocial', 'SAP', 'UGL'],
      dtype='object')

In [350]:
#merge
datos_unidos = baseSql.merge(pami, left_on='numero_afiliado', right_on='numero_afiliado', how='outer')

In [351]:
datos_unidos

,Unnamed: 0,codigo_rp,tipodoc,numdoc,nombre,direccion,localidad,provincia,cod_postal,telefono,...,Celular,Nombre,DNI,Responsable,Matricula,Prestador,Email,RazonSocial,SAP,UGL
0,NaN,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3516857145,ALUCH MARGARITA,20439770.0,Manir Alejandro ZAZU,271714.0,Médica/o,manir47@icloud.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0
33882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3515516145,PAPALINI NELIDA,17729838.0,Luis Antonio Jorge RODRIGUEZ,10253.0,Enfermera/o,luisantoniojorger@gmail.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0
33883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3515516145,PAPALINI NELIDA,17729838.0,Luis Antonio Jorge RODRIGUEZ,10253.0,Enfermera/o,luisantoniojorger@gmail.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0
33884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3521475659,ALANIS GERONIMA ELBA,26252983.0,Liliana Paola BRACAMONTE,3484.0,Kinesióloga/o,paobracamonte@hotmail.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0
33885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3521443363,CASTRO FELISA DEL CORAZON,22424861.0,Jorge Isaac BIONDA,5280.0,Kinesióloga/o,byorchs@hotmail.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0

In [352]:
datos_unidos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33886 entries, 0 to 33885
Data columns (total 42 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           0 non-null      float64
 1   codigo_rp            25414 non-null  float64
 2   tipodoc              25414 non-null  object
 3   numdoc               25414 non-null  float64
 4   nombre               25414 non-null  object
 5   direccion            25414 non-null  object
 6   localidad            25414 non-null  object
 7   provincia            25414 non-null  object
 8   cod_postal           23475 non-null  float64
 9   telefono             18897 non-null  object
 10  fecha_nacimiento     25414 non-null  object
 11  sexo                 25414 non-null  object
 12  afiliado             25414 non-null  object
 13  grado_paren          25414 non-null  object
 14  codigo_diagnostico   25414 non-null  object
 15  cod_prestacion       25414 non-null  object
 16  fecha_agenda         25414 non-null  object
 17  cantd                25414 non-null  float64
 18  nro_autorizacion     25414 non-null  float64
 19  descrip_diagnostico  25414 non-null  object
 20  impor_hono           25328 non-null  object
 21  impor_gastos         25328 non-null  object
 22  orden_rp             25414 non-null  float64
 23  secuen_rp            25414 non-null  float64
 24  confirmado           25414 non-null  object
 25  bono_nume            79 non-null     float64
 26  numero_afiliado      33886 non-null  object
 27  NVisita              23073 non-null  float64
 28  Estado               23073 non-null  object
 29  FechaInc             23073 non-null  object
 30  FechaFin             23073 non-null  object
 31  Duracion             23073 non-null  object
 32  Celular              23073 non-null  object
 33  Nombre               23071 non-null  object
 34  DNI                  23073 non-null  float64
 35  Responsable          23073 non-null  object
 36  Matricula            19415 non-null  float64
 37  Prestador            23073 non-null  object
 38  Email                23073 non-null  object
 39  RazonSocial          23073 non-null  object
 40  SAP                  23073 non-null  float64
 41  UGL                  23073 non-null  float64
dtypes: float64(14), object(28)
memory usage: 11.1+ MB

In [353]:
datos_unidos.count()

Unnamed: 0                 0
codigo_rp              25414
tipodoc                25414
numdoc                 25414
nombre                 25414
direccion              25414
localidad              25414
provincia              25414
cod_postal             23475
telefono               18897
fecha_nacimiento       25414
sexo                   25414
afiliado               25414
grado_paren            25414
codigo_diagnostico     25414
cod_prestacion         25414
fecha_agenda           25414
cantd                  25414
nro_autorizacion       25414
descrip_diagnostico    25414
impor_hono             25328
impor_gastos           25328
orden_rp               25414
secuen_rp              25414
confirmado             25414
bono_nume                 79
numero_afiliado        33886
NVisita                23073
Estado                 23073
FechaInc               23073
FechaFin               23073
Duracion               23073
Celular                23073
Nombre                 23071
DNI                    23073
Responsable            23073
Matricula              19415
Prestador              23073
Email                  23073
RazonSocial            23073
SAP                    23073
UGL                    23073
dtype: int64

In [354]:
#datos nulos
datos_unidos.isnull().sum()

Unnamed: 0             33886
codigo_rp               8472
tipodoc                 8472
numdoc                  8472
nombre                  8472
direccion               8472
localidad               8472
provincia               8472
cod_postal             10411
telefono               14989
fecha_nacimiento        8472
sexo                    8472
afiliado                8472
grado_paren             8472
codigo_diagnostico      8472
cod_prestacion          8472
fecha_agenda            8472
cantd                   8472
nro_autorizacion        8472
descrip_diagnostico     8472
impor_hono              8558
impor_gastos            8558
orden_rp                8472
secuen_rp               8472
confirmado              8472
bono_nume              33807
numero_afiliado            0
NVisita                10813
Estado                 10813
FechaInc               10813
FechaFin               10813
Duracion               10813
Celular                10813
Nombre                 10815
DNI                    10813
Responsable            10813
Matricula              14471
Prestador              10813
Email                  10813
RazonSocial            10813
SAP                    10813
UGL                    10813
dtype: int64

In [355]:
datos_unidos.columns

Index(['Unnamed: 0', 'codigo_rp', 'tipodoc', 'numdoc', 'nombre', 'direccion',
       'localidad', 'provincia', 'cod_postal', 'telefono', 'fecha_nacimiento',
       'sexo', 'afiliado', 'grado_paren', 'codigo_diagnostico',
       'cod_prestacion', 'fecha_agenda', 'cantd', 'nro_autorizacion',
       'descrip_diagnostico', 'impor_hono', 'impor_gastos', 'orden_rp',
       'secuen_rp', 'confirmado', 'bono_nume', 'numero_afiliado', 'NVisita',
       'Estado', 'FechaInc', 'FechaFin', 'Duracion', 'Celular', 'Nombre',
       'DNI', 'Responsable', 'Matricula', 'Prestador', 'Email', 'RazonSocial',
       'SAP', 'UGL'],
      dtype='object')

In [356]:
#Borre columnas que se repetian
datos_unidos=datos_unidos.drop(['afiliado','grado_paren', 'Unnamed: 0'],axis=1)

In [357]:
datos_unidos.columns

Index(['codigo_rp', 'tipodoc', 'numdoc', 'nombre', 'direccion', 'localidad',
       'provincia', 'cod_postal', 'telefono', 'fecha_nacimiento', 'sexo',
       'codigo_diagnostico', 'cod_prestacion', 'fecha_agenda', 'cantd',
       'nro_autorizacion', 'descrip_diagnostico', 'impor_hono', 'impor_gastos',
       'orden_rp', 'secuen_rp', 'confirmado', 'bono_nume', 'numero_afiliado',
       'NVisita', 'Estado', 'FechaInc', 'FechaFin', 'Duracion', 'Celular',
       'Nombre', 'DNI', 'Responsable', 'Matricula', 'Prestador', 'Email',
       'RazonSocial', 'SAP', 'UGL'],
      dtype='object')

In [358]:
datos_unidos

,codigo_rp,tipodoc,numdoc,nombre,direccion,localidad,provincia,cod_postal,telefono,fecha_nacimiento,...,Celular,Nombre,DNI,Responsable,Matricula,Prestador,Email,RazonSocial,SAP,UGL
0,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,23/10/1943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,23/10/1943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,23/10/1943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,23/10/1943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,95908061.0,DI,7975217.0,ABALLAY MIGUEL ANGEL,MENDOZA Bº PROVIDENCIA 1080,CORDOBA,Cordoba,5000.0,3512233816,23/10/1943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3516857145,ALUCH MARGARITA,20439770.0,Manir Alejandro ZAZU,271714.0,Médica/o,manir47@icloud.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0
33882,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3515516145,PAPALINI NELIDA,17729838.0,Luis Antonio Jorge RODRIGUEZ,10253.0,Enfermera/o,luisantoniojorger@gmail.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0
33883,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3515516145,PAPALINI NELIDA,17729838.0,Luis Antonio Jorge RODRIGUEZ,10253.0,Enfermera/o,luisantoniojorger@gmail.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0
33884,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3521475659,ALANIS GERONIMA ELBA,26252983.0,Liliana Paola BRACAMONTE,3484.0,Kinesióloga/o,paobracamonte@hotmail.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0
33885,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3521443363,CASTRO FELISA DEL CORAZON,22424861.0,Jorge Isaac BIONDA,5280.0,Kinesióloga/o,byorchs@hotmail.com,SAD CORDOBA S.A. - UGL 03,96954.0,3.0

In [359]:
#datos totales en cada columna sin contar los nulos
datos_unidos.count().sum()

926880

In [360]:
#datos nulos
datos_unidos.isnull().sum()

codigo_rp               8472
tipodoc                 8472
numdoc                  8472
nombre                  8472
direccion               8472
localidad               8472
provincia               8472
cod_postal             10411
telefono               14989
fecha_nacimiento        8472
sexo                    8472
codigo_diagnostico      8472
cod_prestacion          8472
fecha_agenda            8472
cantd                   8472
nro_autorizacion        8472
descrip_diagnostico     8472
impor_hono              8558
impor_gastos            8558
orden_rp                8472
secuen_rp               8472
confirmado              8472
bono_nume              33807
numero_afiliado            0
NVisita                10813
Estado                 10813
FechaInc               10813
FechaFin               10813
Duracion               10813
Celular                10813
Nombre                 10815
DNI                    10813
Responsable            10813
Matricula              14471
Prestador              10813
Email                  10813
RazonSocial            10813
SAP                    10813
UGL                    10813
dtype: int64

In [361]:
#sumatoria de nulos
pd.isnull(datos_unidos).values.ravel().sum()

394674

In [362]:
#datos totales
datos_unidos.size

1321554