In [1]:
import pandas as pd
import numpy as np
import datetime

In [2]:
base = pd.read_csv('../Datos/202106/base_txt_202106.csv')

In [3]:
base.columns

Index(['Apellido y Nombre', 'Tipo Documento', 'Nro Documento', 'Estado Civil',
       'Nacionalidad', 'Calle', 'Puerta', 'Piso', 'Dpto', 'CP', 'Telefono',
       'Fecha Nacimiento', 'Sexo', 'CUIT', 'CUIL', 'Beneficio', 'Parentesco',
       'Sucursal', 'Agencia', 'Corresponsalia', 'Afip', 'Afiliacion',
       'Formulario', 'Fecha Baja', 'Codigo Baja', 'B1', 'CodDiagno',
       'CodDiagnostico', 'Tipo Diagnostico', 'B2', 'CodPresta',
       'Cod Prestación', 'Fecha Práctica', 'Cantidad', 'Modalidad',
       'Nro Orden', 'B3', 'Ctrol 1', 'CTROL 2', 'Ctrol 3', 'CONCATENAR',
       'CONTROL 4', 'CONTROL  DIAS', 'CONTROL 5 COD', '****', '¨¨¨¨', 'VERDE',
       'CONTROL TRANSMISION', 'CONTROL TRANSMISION- N°', 'Unnamed: 49',
       'DIAS MES', '30/6/2021', 'Unnamed: 52', '4/6/2021', '7', '4',
       '2/7/2021'],
      dtype='object')

In [4]:
result = base.groupby('Beneficio').agg({'Fecha Práctica': ['min']})

In [5]:
result

             Fecha Práctica
                        min
Beneficio
10094159807        1/6/2021
15022727702        1/6/2021
20082001701        1/6/2021
20092449905       10/6/2021
20103347001        1/6/2021
...                     ...
155967738600       1/6/2021
405063891403       1/6/2021
465000686802       1/6/2021
465005169600       1/6/2021
465005883405       1/6/2021

[189 rows x 1 columns]

In [6]:
result = result['Fecha Práctica']

In [7]:
result=result.reset_index()

In [8]:
result

        Beneficio        min
0     10094159807   1/6/2021
1     15022727702   1/6/2021
2     20082001701   1/6/2021
3     20092449905  10/6/2021
4     20103347001   1/6/2021
..            ...        ...
184  155967738600   1/6/2021
185  405063891403   1/6/2021
186  465000686802   1/6/2021
187  465005169600   1/6/2021
188  465005883405   1/6/2021

[189 rows x 2 columns]

In [9]:
#cambiar nombre de columna min
result = result.rename(columns = {'min': 'Fecha_prestacion'})

In [10]:
#cambiar el formato de la fecha 
result['Fecha_prestacion'] = pd.to_datetime(result['Fecha_prestacion'], dayfirst=True, format="%d/%m/%Y").dt.strftime('%d/%m/%Y')

In [11]:
#paso a str 
result ['Beneficio'] = result ['Beneficio'].astype(str)

In [12]:
#agregar 0 
def agregar0(df, col: str, d: int):
    if (df[col].dtype == object):
        c = 0
        for i in df[col]:
            df.at[c,col] = i.zfill(d)
            c +=1
    return df[col]

In [13]:
result ['Beneficio'] = agregar0(result, 'Beneficio', 12)

In [14]:
result

        Beneficio Fecha_prestacion
0    010094159807       01/06/2021
1    015022727702       01/06/2021
2    020082001701       01/06/2021
3    020092449905       10/06/2021
4    020103347001       01/06/2021
..            ...              ...
184  155967738600       01/06/2021
185  405063891403       01/06/2021
186  465000686802       01/06/2021
187  465005169600       01/06/2021
188  465005883405       01/06/2021

[189 rows x 2 columns]

In [15]:
from io import open

archivo = open("../Datos/202106/Auxiliares/Beneficio.txt","w")

archivo.write("BENEFICIO\n")

for i,j in zip(result.Beneficio, result.Fecha_prestacion):
    archivo.write("{}{}{}{}{}{}{}{}{}{}{}".format(";",";",";",i,";",";",";","1",";",j,"\n")) 

#for i in dataSet.BENEFICIO:
    #archivo.write(str(i + "\n"))
    
archivo.close()