In [3]:
import pandas as pd
import numpy as np
from datetime import datetime, date
from Modules.validaciones import *
import calendar as cl
import calendar

# Limpieza de datos

In [7]:
#leo los archivos
Detalle_op= pd.read_csv('../datos/202106/base_op_pami.csv')
sql = pd.read_csv('../datos/202106/base_sql.csv')
codigos_txt = pd.read_csv('../datos/202106/CODIGOS_TXT.csv')
visitas = pd.read_csv('../datos/202106/visitas_pami.csv')
Arch_auxiliar = pd.read_csv('../datos/202106/2021_07_ARCH_Auxiliares_valores.csv')

In [3]:
#renombro la columna
Arch_auxiliar = Arch_auxiliar.rename(columns={'Ctrol Afiliado 1': 'BENEFICIO'})

In [4]:
#borro la columna exra
Arch_auxiliar = Arch_auxiliar.drop(['Unnamed: 34'], axis=1)

In [5]:
#convierto
#Arch_auxiliar['NRO. OP'] = Arch_auxiliar['NRO. OP'].astype(str)
Arch_auxiliar['Parentesco'] = Arch_auxiliar['Parentesco'].astype(str)
sql['numdoc'] = sql['numdoc'].astype(str)

#cnvierto a fechas
Arch_auxiliar['Activada'] = pd.to_datetime(Arch_auxiliar['Activada'], dayfirst=True, format="%d/%m/%Y")
Arch_auxiliar['F. SOLICITUD'] = pd.to_datetime(Arch_auxiliar['F. SOLICITUD'], dayfirst=True, format="%d/%m/%Y")
Arch_auxiliar['Activada'] = pd.to_datetime(Arch_auxiliar['Activada'],dayfirst=True, format="%d/%m/%Y")
Arch_auxiliar['Generada/Aprobado'] = pd.to_datetime(Arch_auxiliar['Generada/Aprobado'])
Arch_auxiliar['Fecha de Inicio'] = pd.to_datetime(Arch_auxiliar['Fecha de Inicio'])
Arch_auxiliar['Fecha de fin'] = pd.to_datetime(Arch_auxiliar['Fecha de fin'])

Funciones

In [6]:
#concateno benef/paren
def concat_b_p(b):
    xs = b.split()
    concat = xs[0] + xs[2]
    return concat

In [7]:
Arch_auxiliar['NRO. BENEFICIO/GP'] = Arch_auxiliar['NRO. BENEFICIO/GP'].apply(concat_b_p)

In [9]:
#Agrego ceros 
Arch_auxiliar['NRO. BENEFICIO/GP'] = add_zeros_to_left(Arch_auxiliar, 'NRO. BENEFICIO/GP', 14)
Arch_auxiliar['BENEFICIO'] = add_zeros_to_left(Arch_auxiliar, 'BENEFICIO', 12)
Arch_auxiliar['Parentesco'] = add_zeros_to_left(Arch_auxiliar, 'Parentesco', 2)

In [12]:
#convertir ciertas fechas en null
fechas = ['Fecha de Inicio', 'Fecha de fin', 'Fecha inicio INT 1', 'Fecha FIN INT 1', 'Fecha inicio INT 2', 'Fecha FIN INT 2','Fecha inicio INT 3', 'Fecha FIN INT 3','OBITO']
sin_fechas = ['S/AGENDA', 'S/INTERNACION', 'S/OBITO', 'S/D', 'OBITO', 'SIN ALTA']
Arch_auxiliar[fechas] = Arch_auxiliar[fechas].applymap(lambda x: None if x in sin_fechas else x)

In [13]:
Arch_auxiliar[fechas] = Arch_auxiliar[fechas].apply(pd.to_datetime)

In [14]:
Arch_auxiliar['NRO. BENEFICIO/GP'] = Arch_auxiliar['NRO. BENEFICIO/GP'].astype(int)

In [15]:
Arch_auxiliar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 34 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   UGL                                                    242 non-null    object
 1   AGENCIA                                                236 non-null    object
 2   NRO. OP                                                242 non-null    int64
 3   MOTIVO DE EMISION                                      242 non-null    object
 4   PRESTADOR DE RECHAZO                                   0 non-null      float64
 5   F. SOLICITUD                                           242 non-null    datetime64[ns]
 6   NRO. BENEFICIO/GP                                      242 non-null    int64
 7   APELLIDO Y NOMBRE                                      242 non-null    object
 8   SOLICITANTE                                            242 non-null    object
 9   PRESTADOR                                              242 non-null    object
 10  ESTADO                                                 242 non-null    object
 11  ESTADO DE PRACTICA: APROBADA                           242 non-null    object
 12  ESTADO DE PRACTICA: RECHAZADA                          126 non-null    object
 13  ESTADO DE PRACTICA: SE SOLICITA INFORMACION ADICIONAL  0 non-null      float64
 14  ESTADO DE PRACTICA: ASIGNAR TURNO                      0 non-null      float64
 15  ESTADO DE PRACTICA: CONFORMAR                          0 non-null      float64
 16  ESTADO DE PRACTICA: NO CONFORMAR                       0 non-null      float64
 17  PENDIENTE DE AUTORIZACION                              0 non-null      float64
 18  USUARIO EMISOR                                         242 non-null    object
 19  BENEFICIO                                              242 non-null    object
 20  Ctrol Afiliado 2                                       242 non-null    int64
 21  Parentesco                                             242 non-null    object
 22  DIAGNOTICO                                             242 non-null    object
 23  Generada/Aprobado                                      242 non-null    datetime64[ns]
 24  Activada                                               242 non-null    datetime64[ns]
 25  Fecha de Inicio                                        242 non-null    datetime64[ns]
 26  Fecha de fin                                           242 non-null    datetime64[ns]
 27  Fecha inicio INT 1                                     20 non-null     datetime64[ns]
 28  Fecha FIN INT 1                                        12 non-null     datetime64[ns]
 29  Fecha inicio INT 2                                     0 non-null      datetime64[ns]
 30  Fecha FIN INT 2                                        0 non-null      datetime64[ns]
 31  Fecha inicio INT 3                                     0 non-null      datetime64[ns]
 32  Fecha FIN INT 3                                        0 non-null      datetime64[ns]
 33  OBITO                                                  9 non-null      datetime64[ns]
dtypes: datetime64[ns](12), float64(6), int64(3), object(13)
memory usage: 64.4+ KB

# Cabecera op

In [16]:
#leo las columnas
Arch_auxiliar.columns

Index(['UGL', 'AGENCIA', 'NRO. OP', 'MOTIVO DE EMISION',
       'PRESTADOR DE RECHAZO', 'F. SOLICITUD', 'NRO. BENEFICIO/GP',
       'APELLIDO Y NOMBRE', 'SOLICITANTE', 'PRESTADOR', 'ESTADO',
       'ESTADO DE PRACTICA: APROBADA', 'ESTADO DE PRACTICA: RECHAZADA',
       'ESTADO DE PRACTICA: SE SOLICITA INFORMACION ADICIONAL',
       'ESTADO DE PRACTICA: ASIGNAR TURNO', 'ESTADO DE PRACTICA: CONFORMAR',
       'ESTADO DE PRACTICA: NO CONFORMAR', 'PENDIENTE DE AUTORIZACION',
       'USUARIO EMISOR', 'BENEFICIO', 'Ctrol Afiliado 2', 'Parentesco',
       'DIAGNOTICO', 'Generada/Aprobado', 'Activada', 'Fecha de Inicio',
       'Fecha de fin', 'Fecha inicio INT 1', 'Fecha FIN INT 1',
       'Fecha inicio INT 2', 'Fecha FIN INT 2', 'Fecha inicio INT 3',
       'Fecha FIN INT 3', 'OBITO'],
      dtype='object')

In [17]:
#traigo las columnas que necesito para el archivo final 
Archivo_final = Arch_auxiliar[['APELLIDO Y NOMBRE','NRO. OP', 'NRO. BENEFICIO/GP','BENEFICIO', 'Parentesco','DIAGNOTICO','F. SOLICITUD', 'Activada','Fecha de Inicio', 'Fecha de fin', 'Fecha inicio INT 1', 'Fecha FIN INT 1', 'Fecha inicio INT 2', 'Fecha FIN INT 2', 'Fecha inicio INT 3', 'Fecha FIN INT 3', 'OBITO']]

In [18]:
#agrego el resto de laArchivo_final = s columnas
Archivo_final[['Periodo de alta', 'Tipo de documento', 'Nro Documento', 'Fecha Nacimiento','Sexo','Estado', 'Obs_Estado']] = " "

<ipython-input-18-aa339854f60a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Archivo_final[['Periodo de alta', 'Tipo de documento', 'Nro Documento', 'Fecha Nacimiento','Sexo','Estado', 'Obs_Estado']] = " "
/home/sabri/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [19]:
Archivo_final.columns

Index(['APELLIDO Y NOMBRE', 'NRO. OP', 'NRO. BENEFICIO/GP', 'BENEFICIO',
       'Parentesco', 'DIAGNOTICO', 'F. SOLICITUD', 'Activada',
       'Fecha de Inicio', 'Fecha de fin', 'Fecha inicio INT 1',
       'Fecha FIN INT 1', 'Fecha inicio INT 2', 'Fecha FIN INT 2',
       'Fecha inicio INT 3', 'Fecha FIN INT 3', 'OBITO', 'Periodo de alta',
       'Tipo de documento', 'Nro Documento', 'Fecha Nacimiento', 'Sexo',
       'Estado', 'Obs_Estado'],
      dtype='object')

In [20]:
#Reordeno las columnas
Cabecera_op  = Archivo_final[['Periodo de alta','APELLIDO Y NOMBRE', 'Tipo de documento', 'Nro Documento', 'Fecha Nacimiento', 'Sexo', 'NRO. OP', 'NRO. BENEFICIO/GP', 'BENEFICIO',
       'Parentesco', 'DIAGNOTICO', 'F. SOLICITUD', 'Activada','Fecha de Inicio', 'Fecha de fin', 'Fecha inicio INT 1','Fecha FIN INT 1', 'Fecha inicio INT 2', 'Fecha FIN INT 2',
       'Fecha inicio INT 3', 'Fecha FIN INT 3', 'OBITO','Estado', 'Obs_Estado']].copy()

In [21]:
Cabecera_op.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 242 entries, 0 to 241
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Periodo de alta     242 non-null    object
 1   APELLIDO Y NOMBRE   242 non-null    object
 2   Tipo de documento   242 non-null    object
 3   Nro Documento       242 non-null    object
 4   Fecha Nacimiento    242 non-null    object
 5   Sexo                242 non-null    object
 6   NRO. OP             242 non-null    int64
 7   NRO. BENEFICIO/GP   242 non-null    int64
 8   BENEFICIO           242 non-null    object
 9   Parentesco          242 non-null    object
 10  DIAGNOTICO          242 non-null    object
 11  F. SOLICITUD        242 non-null    datetime64[ns]
 12  Activada            242 non-null    datetime64[ns]
 13  Fecha de Inicio     242 non-null    datetime64[ns]
 14  Fecha de fin        242 non-null    datetime64[ns]
 15  Fecha inicio INT 1  20 non-null     datetime64[ns]
 16  Fecha FIN INT 1     12 non-null     datetime64[ns]
 17  Fecha inicio INT 2  0 non-null      datetime64[ns]
 18  Fecha FIN INT 2     0 non-null      datetime64[ns]
 19  Fecha inicio INT 3  0 non-null      datetime64[ns]
 20  Fecha FIN INT 3     0 non-null      datetime64[ns]
 21  OBITO               9 non-null      datetime64[ns]
 22  Estado              242 non-null    object
 23  Obs_Estado          242 non-null    object
dtypes: datetime64[ns](11), int64(2), object(11)
memory usage: 45.5+ KB

Relleno las columnas de Apellido y nombre, tipo doc, doc, fecha nacimiento y sexo (Posteriormente vendran en el archivo en casa?)

In [22]:
def relleno(op):
    df = sql[sql['nro_autorizacion'] == op]
    tipo= []
    doc = []
    fecha_nacimiento = []
    sexo = []
    
    tipo.append(df['tipodoc'].min())
    doc.append(df['numdoc'].min())
    fecha_nacimiento.append(df['fecha_nacimiento'].min())
    sexo.append(df['sexo'].min())
    
    return tipo, doc, fecha_nacimiento, sexo

In [23]:
listas = Cabecera_op['NRO. OP'].apply(relleno)

In [24]:
listas= list(listas)

In [25]:
#listas

In [26]:
lista1 = []
lista2 = []
lista3 = []
lista4 = []

for i in listas:
    lista1.append(i[0][0])
    lista2.append(i[1][0])
    lista3.append(i[2][0])
    lista4.append(i[3][0])


Cabecera_op['Tipo de documento'] = pd.Series(lista1)
Cabecera_op['Nro Documento'] = pd.Series(lista2) 
Cabecera_op['Fecha Nacimiento'] = pd.Series(lista3)
Cabecera_op['Sexo'] = pd.Series(lista4)

In [27]:
#remplazo el sexo mal copiado
Cabecera_op['Sexo'] = Cabecera_op['Sexo'].replace('METRO', 'M')

In [28]:
Cabecera_op

,Periodo de alta,APELLIDO Y NOMBRE,Tipo de documento,Nro Documento,Fecha Nacimiento,Sexo,NRO. OP,NRO. BENEFICIO/GP,BENEFICIO,Parentesco,...,Fecha de fin,Fecha inicio INT 1,Fecha FIN INT 1,Fecha inicio INT 2,Fecha FIN INT 2,Fecha inicio INT 3,Fecha FIN INT 3,OBITO,Estado,Obs_Estado
0,,GELADA ESTER DEL CARMEN,LC,4593735,6/11/1944,F,9919050149,15021309770600,150213097706,00,...,2021-09-29,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
1,,SAA MERCEDES JUANA,DI,11974849,29/12/1955,F,9919032395,15511500381400,155115003814,00,...,2021-05-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-05-08,,
2,,GOMEZ MARIA BEATRIZ,DI,4123576,5/3/1941,F,9919030927,15028009310300,150280093103,00,...,2021-08-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-08-08,,
3,,MOLINA RAUL GERONIMO,DI,6689150,29/6/1941,M,9919025284,15030708170300,150307081703,00,...,2021-10-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
4,,CABRERA ADEMAR OSVALDO,DI,11089336,28/2/1954,M,9919021137,14092243040900,140922430409,00,...,2021-06-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-06-08,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,,PUERTA GUILLERMO DAVID,DI,6478232,8/6/1932,F,9918141457,13053723080100,130537230801,00,...,2021-05-07,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
238,,LUJAN MARGARITA,DI,3968018,8/6/1940,F,9918039154,15016867850000,150168678500,00,...,2021-06-07,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
239,,GARAY AMALIA,LC,2963908,9/1/1933,F,9918032269,9561437260300,095614372603,00,...,2021-09-07,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
240,,CORTEZ SUSANA CATALINA,DI,6029828,29/10/1939,F,9918009330,15045427390000,150454273900,00,...,2021-01-07,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
241,,TULA NICOLAS BERSAVEL,LE,6387323,12/1/1940,M,9917960867,15084131940200,150841319402,00,...,2021-07-29,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,

Relleno la columna Periodo de alta

In [29]:
fecha = datetime.strptime("07/01/21", "%m/%d/%y")

In [30]:
fecha

datetime.datetime(2021, 7, 1, 0, 0)

In [31]:
def periodo_alta(activada,fecha):
    if activada < fecha:
        return ''
    else:
        return fecha

In [32]:
Cabecera_op['Periodo de alta'] = Cabecera_op['Activada'].apply(periodo_alta, fecha = datetime.strptime("07/01/21", "%m/%d/%y"))

In [33]:
Cabecera_op.head()

,Periodo de alta,APELLIDO Y NOMBRE,Tipo de documento,Nro Documento,Fecha Nacimiento,Sexo,NRO. OP,NRO. BENEFICIO/GP,BENEFICIO,Parentesco,...,Fecha de fin,Fecha inicio INT 1,Fecha FIN INT 1,Fecha inicio INT 2,Fecha FIN INT 2,Fecha inicio INT 3,Fecha FIN INT 3,OBITO,Estado,Obs_Estado
0,2021-07-01,GELADA ESTER DEL CARMEN,LC,4593735,6/11/1944,F,9919050149,15021309770600,150213097706,00,...,2021-09-29,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
1,2021-07-01,SAA MERCEDES JUANA,DI,11974849,29/12/1955,F,9919032395,15511500381400,155115003814,00,...,2021-05-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-05-08,,
2,2021-07-01,GOMEZ MARIA BEATRIZ,DI,4123576,5/3/1941,F,9919030927,15028009310300,150280093103,00,...,2021-08-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-08-08,,
3,2021-07-01,MOLINA RAUL GERONIMO,DI,6689150,29/6/1941,M,9919025284,15030708170300,150307081703,00,...,2021-10-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
4,2021-07-01,CABRERA ADEMAR OSVALDO,DI,11089336,28/2/1954,M,9919021137,14092243040900,140922430409,00,...,2021-06-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-06-08,,

In [34]:
#LO saco para corroborar
#Cabecera_op.to_csv('../datos/Cabecera_prueba.csv',header=True, index=False)

Funciones para calcular la fecha de inicio

In [36]:
#Dato del periodo de calculo
periodo = datetime.strptime("07/01/21", "%m/%d/%y")

In [37]:
#Filtro las op que necesito calcular la fecha de inicio 
op_nuevas = Cabecera_op[Cabecera_op['Periodo de alta'] == periodo]

In [38]:
op_nuevas

,Periodo de alta,APELLIDO Y NOMBRE,Tipo de documento,Nro Documento,Fecha Nacimiento,Sexo,NRO. OP,NRO. BENEFICIO/GP,BENEFICIO,Parentesco,...,Fecha de fin,Fecha inicio INT 1,Fecha FIN INT 1,Fecha inicio INT 2,Fecha FIN INT 2,Fecha inicio INT 3,Fecha FIN INT 3,OBITO,Estado,Obs_Estado
0,2021-07-01,GELADA ESTER DEL CARMEN,LC,4593735,6/11/1944,F,9919050149,15021309770600,150213097706,00,...,2021-09-29,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
1,2021-07-01,SAA MERCEDES JUANA,DI,11974849,29/12/1955,F,9919032395,15511500381400,155115003814,00,...,2021-05-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-05-08,,
2,2021-07-01,GOMEZ MARIA BEATRIZ,DI,4123576,5/3/1941,F,9919030927,15028009310300,150280093103,00,...,2021-08-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-08-08,,
3,2021-07-01,MOLINA RAUL GERONIMO,DI,6689150,29/6/1941,M,9919025284,15030708170300,150307081703,00,...,2021-10-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
4,2021-07-01,CABRERA ADEMAR OSVALDO,DI,11089336,28/2/1954,M,9919021137,14092243040900,140922430409,00,...,2021-06-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-06-08,,
5,2021-07-01,ORDOÑEZ ZULEMA MARIA,DI,5587939,3/4/1947,F,9919010613,15041759610000,150417596100,00,...,2021-02-08,NaT,NaT,NaT,NaT,NaT,NaT,2021-02-08,,
6,2021-07-01,NUÑEZ FERMINA FILOMENA,DI,10764806,25/9/1953,F,9919005816,15060873770500,150608737705,00,...,2021-10-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
7,2021-07-01,BARDUS MARIA ANTONIA,DI,2453253,4/8/1937,F,9919003802,15027414820100,150274148201,00,...,2021-10-28,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
8,2021-07-01,MOLINA CARLOS HUGO,DI,7979869,23/10/1944,M,9918983260,15046289060300,150462890603,00,...,2021-08-23,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
9,2021-07-01,GONZALEZ MARIA ROSA,DI,5294769,7/10/1945,F,9918974530,15026149150200,150261491502,00,...,2021-10-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
10,2021-07-01,RIVERO RAMONA ZULEMA,DI,12003501,13/5/1955,F,9918961158,15006258670900,150062586709,00,...,2021-10-20,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
11,2021-07-01,BRANDAN GLORIA ANTONIA,DI,3692063,22/3/1938,F,9918947984,15032905470100,150329054701,00,...,2021-10-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
12,2021-07-01,GUTIERREZ JUAN GERARDO,DI,7960183,15/11/1948,M,9918939774,15039931630600,150399316306,00,...,2021-08-19,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
13,2021-07-01,LUJAN MARGARITA,DI,3968018,8/6/1940,F,9918939699,15016867850000,150168678500,00,...,2021-10-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
14,2021-07-01,PEREYRA FERNANDA RAMONA,DI,1914606,17/3/1935,F,9918939386,2502686921300,025026869213,00,...,2021-10-27,2021-03-08,2021-11-08,NaT,NaT,NaT,NaT,NaT,,
15,2021-07-01,COLOSI ANTONIO,DI,8411679,13/5/1950,M,9918939348,15071261120400,150712611204,00,...,2021-08-27,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
16,2021-07-01,GUGGER IRMA ESTHER,DI,6180196,17/8/1950,F,9918934889,15052443620100,150524436201,00,...,2021-10-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
17,2021-07-01,ELLIOT MARIANO EMILIANO,DI,21547856,1/4/1970,M,9918934237,15554124430800,155541244308,00,...,2021-10-19,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
18,2021-07-01,RIOS FELISA,DI,2784572,19/10/1936,F,9918933961,15030950650900,150309506509,00,...,2021-10-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
19,2021-07-01,ROLDAN ELISA AVELINA,DI,13778833,14/12/1959,F,9918933694,15050058210101,150500582101,01,...,2021-10-19,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
20,2021-07-01,FRANCO ELIDA FRANCISCA,DI,4979949,7/7/1944,F,9918929509,15010497670800,150104976708,00,...,2021-10-19,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
21,2021-07-01,RODRIGUEZ RUBEN DANIEL,DI,7709409,16/11/1949,F,9918924527,15070077470600,150700774706,00,...,2021-10-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
22,2021-07-01,GARAY AMALIA,LC,2963908,9/1/1933,F,9918920523,9561437260300,095614372603,00,...,2021-10-13,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
23,2021-07-01,ARIAS SUSANA DEL CARMEN,DI,3692886,3/7/1938,F,9918918926,15580418720300,155804187203,00,...,2021-10-26,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
24,2021-07-01,LUJAN MARGARITA,DI,3968018,8/6/1940,F,9918916720,15016867850000,150168678500,00,...,2021-12-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
25,2021-07-01,FLORES MARIA JUANA,DI,5863460,10/4/1950,F,9918912768,15074010840900,150740108409,00,...,2021-10-13,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
26,2021-07-01,RODRIGUEZ RAMONA VICENTA,DI,4131060,27/2/1942,F,9918907972,15039694950300,150396949503,00,...,2021-10-25,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
27,2021-07-01,CABRERA JOSEFINA BENITA,DI,13029625,28/7/1957,F,9918906979,15579262310100,155792623101,00,...,2021-12-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
28,2021-07-01,PARISE MAFALDA,DI,3927057,5/10/1934,F,9918903561,15033793340700,150337933407,00,...,2021-10-23,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
29,2021-07-01,MARCHAN NORMIRO JACINTO,DI,8396996,18/10/1950,M,9918902145,15023193880501,150231938805,01,...,2021-10-22,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
30,2021-07-01,BARROSO FELIPA MARIA,LC,1566985,18/5/1937,F,9918897616,15511413840300,155114138403,00,...,2021-10-13,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
31,2021-07-01,ROMANO NELIDA DEL VALLE,DI,1259522,14/9/1933,F,9918897364,2502269580600,025022695806,00,...,2021-10-13,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
32,2021-07-01,PALAVER ERNESTO SANTOS,LE,6393140,10/10/1943,M,9918892011,15044016080600,150440160806,00,...,2021-10-19,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
33,2021-07-01,YBARRA OLGA DEL CARMEN,DI,4266136,11/6/1942,F,9918891323,15025181020000,150251810200,00,...,2021-10-18,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
34,2021-07-01,ROLDAN FELIZA ZULEMA,LC,5327617,15/3/1946,F,9918888984,15029188100300,150291881003,00,...,2021-10-15,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
35,2021-07-01,PERALTA PABLA MERCEDES,DI,4855978,15/3/1943,F,9918884552,15037159870100,150371598701,00,...,2021-07-14,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
36,2021-07-01,RIESCO SERGIO OMAR,DI,7824538,13/10/1949,M,9918882805,15063627910300,150636279103,00,...,2021-07-20,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
37,2021-07-01,FERNANDEZ ANA MARIA,DI,10773357,26/7/1938,F,9918872270,15001201750100,150012017501,00,...,2021-06-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
38,2021-07-01,LUDUEÑA NELBA RAMONA,DI,2449507,13/12/1934,F,9918872215,9096278690500,090962786905,00,...,2021-06-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
39,2021-07-01,MEDINA RUBEN ANTONIO,DI,7378922,17/10/1949,M,9918862482,15066434650300,150664346503,00,...,2021-10-15,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
40,2021-07-01,QUINTEROS BEATRIZ DEL VALLE,LC,1690006,5/5/1936,F,9918857656,15024421390200,150244213902,00,...,2021-02-10,2021-09-08,NaT,NaT,NaT,NaT,NaT,NaT,,
41,2021-07-01,BRUNETTI ANA MARIA,DI,3231203,13/3/1934,M,9918847336,15022668740000,150226687400,00,...,2021-12-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
42,2021-07-01,JUHEL HUMBERTO IGNACIO,DI,7970570,14/12/1942,M,9918840896,15035438580300,150354385803,00,...,2021-12-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
46,2021-07-01,ALBERTINI PEDRO CLEMENTE,DI,6386579,22/10/1940,M,9918824758,15028504820800,150285048208,00,...,2021-04-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
47,2021-07-01,PUERTA GUILLERMO DAVID,DI,6478232,8/6/1932,F,9918818697,13053723080100,130537230801,00,...,2021-05-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
48,2021-07-01,LESCANO ELEUDOR MARTIN,DI,6388883,3/6/1941,F,9918815336,15027680020500,150276800205,00,...,2021-02-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
49,2021-07-01,OVIEDO NOEMI MACLOVIA,LC,5738346,8/5/1948,M,9918814700,15046504240900,150465042409,00,...,2021-04-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
53,2021-07-01,FLORES RAFAELA ELVA,LC,1135744,24/10/1932,F,9918803030,15023674090700,150236740907,00,...,2021-04-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,
54,2021-07-01,RODRIGUEZ ROSARIO VICTOR,DI,7959045,7/10/1947,M,9918802280,15060898420000,150608984200,00,...,2021-06-10,NaT,NaT,NaT,NaT,NaT,NaT,NaT,,

In [39]:
def requiere_visita(op):
    filtro = Detalle_op[(Detalle_op['NRO. OP'] == op) & (Detalle_op['Visita'] == 'si')]
            
    if len(filtro) <= 0:
        return False
    else:
        return True

In [40]:
requiere_visita(9919032395)

True

In [41]:
#funcion que devuelve los prestadores para ese modulo
def Tipos_servicio_prestador_OP(OP,practica_op):
    df = Detalle_op[Detalle_op['NRO. OP'] == OP]
    df2 = codigos_txt[codigos_txt['CODIGO DE PRACTICA OP'] == practica_op]
    df3 = pd.merge(df,df2,left_on=['CODIGO DE PRACTICA OP'],right_on=['CODIGO DE PRACTICA OP'])
        
    return df3['NRO. BENEFICIO-GP'].min() , list(df3['Tipo servicio prestador'].dropna())

In [42]:
datos = Tipos_servicio_prestador_OP(9919032395, 214001)

In [43]:
datos

(15511500381400, ['Médica/o', 'Enfermera/o'])

In [39]:
def Primer_visita(Beneficio, periodo_alta, prestador):
    Fecha_inicio= ''
    
    if requiere_visita(int(f['NRO. OP'])): #si no requiere visita
        Fecha_inicio = f['Activada']
    else:                                  #si requiere visita
        activada = str(f['Activada'])
        b = visitas[(visitas['N° afiliación'] == Beneficio) & (visitas['Fecha comienzo'] >= activada)]
        if all(item in prestador for item in list(b['Tipo servicio prestador'])):
            Fecha_inicio = b['Fecha comienzo'].min()
        else:
            Fecha_inicio = ''
            
    return Fecha_inicio

In [40]:
#Version 2 de primer visita sin usar la funcion tipo servicio prestador 
def Primer_visita(Beneficio, periodo_alta):
    Fecha_inicio= ''
    
    f = Cabecera_op[(Cabecera_op['NRO. BENEFICIO/GP'] == Beneficio) & (Cabecera_op['Periodo de alta'] == periodo_alta)]
      
    
    if requiere_visita(int(f['NRO. OP'])): #si no requiere visita
        Fecha_inicio = f['Activada']
    else:                                  #si requiere visita
        activada = str(f['Activada'])
        b = visitas[(visitas['N° afiliación'] == Beneficio) & (visitas['Fecha comienzo'] >= activada) & ( visitas['Tipo servicio prestador'] == 'Enfermera/o' or  visitas['Tipo servicio prestador'] == 'Médica/o')]
        if len(b)>=1:
            Fecha_inicio = b['Fecha comienzo'].min()
        else:
            Fecha_inicio = ''
            
    return Fecha_inicio

In [41]:
Primer_visita(15511500381400, periodo)

1   2021-07-28
Name: Activada, dtype: datetime64[ns]

In [42]:
#Agregar columna primer visita

In [671]:
#Calculo el estado de los obitos
def obito(o):
    if o == 'S/OBITO':
        return ''
    elif o == 'S/D':
        return''
    else:
        return'VALIDA'

In [672]:
Cabecera_op['Estado'] = Cabecera_op['OBITO'].apply(obito)

In [673]:
Cabecera_op['Obs_Estado'] = Cabecera_op['Estado'].apply(lambda x: 'OBITO' if x== 'VALIDA' else '')