In [18]:
import pandas as pd
import datetime as dt


base = pd.read_csv('datos/202106/2021-06_ KUNAN.xls - Base txt.csv', sep=",")

In [19]:
base.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10266 entries, 0 to 10265
Data columns (total 57 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Apellido y Nombre        10266 non-null  object
 1   Tipo Documento           10266 non-null  object
 2   Nro Documento            10266 non-null  int64
 3   Estado Civil             0 non-null      float64
 4   Nacionalidad             0 non-null      float64
 5   Calle                    10266 non-null  object
 6   Puerta                   10266 non-null  int64
 7   Piso                     10266 non-null  int64
 8   Dpto                     0 non-null      float64
 9   CP                       10266 non-null  int64
 10  Telefono                 0 non-null      float64
 11  Fecha Nacimiento         10266 non-null  object
 12  Sexo                     10266 non-null  object
 13  CUIT                     0 non-null      float64
 14  CUIL                     0 non-null      float64
 15  Beneficio                10266 non-null  int64
 16  Parentesco               10266 non-null  int64
 17  Sucursal                 0 non-null      float64
 18  Agencia                  0 non-null      float64
 19  Corresponsalia           0 non-null      float64
 20  Afip                     0 non-null      float64
 21  Afiliacion               0 non-null      float64
 22  Formulario               0 non-null      float64
 23  Fecha Baja               0 non-null      float64
 24  Codigo Baja              0 non-null      float64
 25  B1                       0 non-null      float64
 26  CodDiagno                10266 non-null  int64
 27  CodDiagnostico           10266 non-null  object
 28  Tipo Diagnostico         10266 non-null  int64
 29  B2                       0 non-null      float64
 30  CodPresta                10266 non-null  int64
 31  Cod Prestación           10266 non-null  int64
 32  Fecha Práctica           10266 non-null  object
 33  Cantidad                 10266 non-null  int64
 34  Modalidad                10266 non-null  int64
 35  Nro Orden                10266 non-null  int64
 36  B3                       0 non-null      float64
 37  Ctrol 1                  10266 non-null  bool
 38  CTROL 2                  10266 non-null  int64
 39  Ctrol 3                  10266 non-null  int64
 40  CONCATENAR               10266 non-null  int64
 41  CONTROL 4                10266 non-null  int64
 42  CONTROL  DIAS            10266 non-null  int64
 43  CONTROL 5 COD            10266 non-null  object
 44  ****                     2175 non-null   object
 45  ¨¨¨¨                     10266 non-null  object
 46  VERDE                    0 non-null      float64
 47  CONTROL TRANSMISION      9856 non-null   object
 48  CONTROL TRANSMISION- N°  10266 non-null  int64
 49  Unnamed: 49              0 non-null      float64
 50  DIAS MES                 0 non-null      float64
 51  30/6/2021                0 non-null      float64
 52  Unnamed: 52              0 non-null      float64
 53  4/6/2021                 0 non-null      float64
 54  7                        0 non-null      float64
 55  4                        0 non-null      float64
 56  2/7/2021                 0 non-null      float64
dtypes: bool(1), float64(26), int64(19), object(11)
memory usage: 4.4+ MB

In [20]:
# Genero un dataframe con las columnas que necesito (agrege el numero de orden)
base_red = base[["Beneficio","Parentesco","CodDiagnostico","Tipo Diagnostico","Cod Prestación","Fecha Práctica", "Nro Orden", "Cantidad"]].copy()


# Cambio el tipo de dato fecha
base_red['Fecha Práctica'] = pd.to_datetime(base_red['Fecha Práctica'], dayfirst=True, format="%d/%m/%Y").dt.strftime('%d/%m/%Y')
    
#ordeno
base_red= base_red.sort_values(by=['Beneficio','Parentesco','CodDiagnostico','Fecha Práctica'])

In [21]:
base_red2 = base_red.copy()

In [22]:
#convierto a str 
base_red2 [['Beneficio', 'Parentesco']] = base_red2 [['Beneficio', 'Parentesco']].astype(str)

In [23]:
#agregar ceros
def agregar0(df, col: str, d: int):
    if (df[col].dtype == object):
        c = 0
        for i in df[col]:
            df.at[c,col] = i.zfill(d)
            c +=1
    return df[col]

In [24]:
base_red2 ['Beneficio'] =agregar0(base_red2, 'Beneficio', 12)
base_red2 ['Parentesco'] =agregar0(base_red2, 'Parentesco', 2)

In [25]:
base_red2

,Beneficio,Parentesco,CodDiagnostico,Tipo Diagnostico,Cod Prestación,Fecha Práctica,Nro Orden,Cantidad
9074,150671586901,00,G20,1,213001,01/06/2021,9918422326,30
9075,150671586901,00,G20,1,219101,01/06/2021,9918422326,1
9076,150671586901,00,G20,1,223101,01/06/2021,9918422326,1
9077,150671586901,00,G20,1,219101,02/06/2021,9918422326,1
9078,150671586901,00,G20,1,223101,02/06/2021,9918422326,1
...,...,...,...,...,...,...,...,...
110,020082001701,00,T12,1,223101,29/06/2021,9918754962,1
111,020082001701,00,T12,1,227012,29/06/2021,9918754962,1
112,020082001701,00,T12,1,219101,30/06/2021,9918754962,1
113,020082001701,00,T12,1,223101,30/06/2021,9918754962,1
114,020082001701,00,T12,1,227012,30/06/2021,9918754962,1

In [26]:
from io import open

archivo = open("salida_ambulatorio.txt","w")

archivo.write("PRESTACIONES\n")

#variables
fecha = ""
matricula = "258089"
cuil = "30710160887"
vandera = False 

for index, row in base_red2.iterrows():
    if fecha != row['Fecha Práctica']:
        if (vandera):
            archivo.write("FIN AMBULATORIO\n")
            
        archivo.write("AMBULATORIO\n")
        archivo.write("{}{}{}{}{}{}{}{}{}{}{}{}".format(cuil, ";;", matricula, ";0;0;0;1;0;", row['Fecha Práctica'],";;;2;",row['Nro Orden'],";1;", row['Beneficio'],";",row['Parentesco'],"\n"))
        fecha = row['Fecha Práctica']
        diagnostico = ""
                      
        if diagnostico != row['CodDiagnostico']:
            archivo.write("REL_DIAGNOSTICOSXAMBULATORIO\n")
            archivo.write("{}{}{}{}{}{}{}".format(";;;0;1;", row['Tipo Diagnostico'],";", row['CodDiagnostico'],";",row['Tipo Diagnostico'], "\n"))
            archivo.write("REL_PRACTICASREALIZADASXAMBULATORIO\n")
            vandera = True 
                
    
                     
    #archivo.write("REL_PRACTICASREALIZADASXAMBULATORIO\n")
    archivo.write("{}{}{}{}{}{}{}{}{}".format(";;;0;1;", row['Cod Prestación'],";",fecha, ";", row['Cantidad'], ";0;",row['Nro Orden'],"\n"))
    




archivo.close()